*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #33FF99;
}

.wrapper{
    padding: 0 20px 0 20px;
}

.row{
    width: 900px;
    height: 550px;
}

.login form {
    font-size: 20px;
    background-color: #FFF;
    padding: 30px;
}

.login form .form-items{
    margin-bottom: 12px;
}

.login form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
}