*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.wrapper{
    padding: 0 20px 0 20px;
}

.row{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: rgb(33, 37, 41);
    box-shadow: 2px 2px #000;
}

.side-image{
    background: url("img/login-panel-theme.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
    height: 100%;
   
}

.login{
    height: 100%;
    background: r;
}

.login form {
    font-size: 20px;
    background-color: rgb(33, 37, 41);
    padding: 20px;
    color:#f8f9fa;
}

.login form .form-items{
    margin-bottom: 12px;
}

.login form input[type="checkbox"]:checked{
    background-color: rgb(33, 37, 41);
    color: #000;
}

.login form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
    background: #FFFF00;
    color: #000;
    font-weight: 500;
}
.login form input[type="submit"]:hover{
    background-color: #f8f9fa;
    color:#000;
}



a{
    color:#FFFF00;
}
.register form {
    font-size: 18px;
    background-color: rgb(33, 37, 41);
    color:#f8f9fa;
    padding: 30px;
}

.form-check{
    margin-bottom: 15px;
}
.register form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
    background: #FFFF00;
    color: #000;
    font-weight: 500;
}
.register form input[type="submit"]:hover{
    background-color: #f8f9fa;
    color:#000;
}
.register form input[type="radio"]:checked{
    background-color: rgb(33, 37, 41);
    border:#FFFF00;
}